{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container" id="regbg">
    <div class="row">
    <div class="col-md-6"> </div>
    <div class="col-md-12">    
    <p style="text-align: center; font-size: 30px;">REGISTER</p>
    {{wtf.quick_form(registration_form, button_map={'submit':'primary'})}}
    <br>
    <p class="login-text" id="option-signup">Already have an account? <a href="/login">Login</a></p>
    </div>
    <div class="col-md-6"></div>
    </div>
    </div>

    
{% endblock%}